.div-denuncia{
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: none;
  outline: none;
  font-weight: 300;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.div-denuncia a{
  text-decoration: none;
}

.div-denuncia ul{
  list-style: none;
}

.div-denuncia img{
  max-width: 100%;
}

.container{
  width: 100%;
  float: left;
  text-align: center;
  padding: 3% 4%;
}

.bg-white{
  background-color: #c5c4c5;
}

.radius{
  border-radius: 7px;
}

.servico{
  width: 100%;
  text-align: left;
  margin-bottom: 3%;
}

.servico img{
  border-radius: 7px 7px 0 0;
}

.inner{
  padding: 7%;
}

.inner h3{
  font-size: 1.5em;
  color: #555555;
  font-weight: 700;
}

.inner h4{
  font-size: 1.2em;
  color: #555555;
  margin-top: 2%;
}

.inner p, .link-interno{
  margin-top: 6%;
  color: #555555;
  line-height: 1.5em;
  text-align: justify;
}